# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Prisma
prisma/migrations/
.prisma/

# Build artifacts
dist/
build/
out/

# Logs
logs/
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

uploads
backupproject.json

backups/